@{
    Layout = null;
}
@model MemberPoint.Entity.ViewModel.MemberCardEditViewModel
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/easyui/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/easyui/icon.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/easyui/jquery-1.11.1.js" type="text/javascript"></script>
<script src="~/Scripts/easyui/jquery-easyui-min.js" type="text/javascript"></script>
<script src="~/Scripts/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>

<script>
    $(function () {
        var postUrl = "";
        $("#btn_Submit").click(function () {
            //根据隐藏域的值判断当前的操作是新增还是编辑，如果大于0说明是编辑，否则为新增
            if (parseInt($("#Id").val()) > 0) {
                postUrl = "/MemCard/Edit"
            }
            else {
                postUrl = "/MemCard/Create";
            }
            //$("form").submit();
            $('#from_MemberCard').form('submit', {
                url: postUrl,
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    return isValid;	// 返回false终止表单提交
                    //return $(this).form('enableValidation').form('validate');
                },
                success: function (data) {
                    //序列化json
                    //1.eval()
                    ///var json = eval("(" + data + ")");
                    //2.
                    var json = JSON.parse(data);
                    if (json.ResultStatus == 1) {
                        //1.提示消息
                        window.parent.$.messager.alert('温馨提示', json.Msg, 'info');
                        //2.关闭弹窗
                        window.parent.$("#dlg").dialog("close");
                        //3.刷新列表
                        window.parent.$("#dg_MemberCard").datagrid("reload");
                    }
                    else {
                        $.messager.alert('温馨提示', json.Msg, 'error');
                    }
                }
            });
        });
        $("#btnSearch").click(function () {
            $.post("/MemCard/GetReferer", { id: $("#RefererCard").val() }, function (data) {
                //if (data.ResultStatus == 1) {
                //    // var info = data.Data;
                //    //$("#RefererName").val(data.Data)
                //    //$.messager.alert('温馨', data.Msg, 'error');
                //    alert("123")
                //}
                //else {
                //    $.messager.alert('温馨提示', data.Msg, 'error');
                //}
                $.messager.alert('温馨', "123", 'error');
            }, "json")
        })
    });
</script>
@using (Html.BeginForm("Edit", "MemCard", FormMethod.Post, new { id = "from_MemberCard" }))
{
    <fieldset>
        <legend>会员基本信息</legend>
        <table align="center">
            <tr>
                <td>会员卡号：</td>
                <td>
                    @Html.EditorFor(model => model.CardId, new { htmlAttributes = new { @class = "easyui-validatebox", data_options = "required:true", missingMessage = "请输入会员卡号" } })
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>会员姓名：</td>
                <td>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "easyui-textbox", data_options = "required:true", missingMessage = "请输入会员姓名" } })</td>
                <td>手机号码：</td>
                <td>@Html.EditorFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>卡片密码：</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>确认密码：</td>
                <td>@Html.PasswordFor(model => model.PasswordConfirm)</td>
            </tr>
            <tr>
                <td>会员性别：</td>
                <td>
                    @Html.EnumDropDownListFor(model => model.Sex, "请选择")
                </td>
                <td>会员等级：</td>
                <td>
                    @Html.DropDownListFor(model => model.CardLevelId, ViewBag.CardLevel as IEnumerable<SelectListItem>)
                </td>
            </tr>
            <tr>
                <td>会员生日：</td>
                <td>
                    @Html.RadioButtonFor(model => model.BirthdayType, "0", new { @checked = "checked" }) 公历
                    @Html.RadioButtonFor(model => model.BirthdayType, "1") 农历
                </td>
                <td> @Html.EditorFor(model => model.BirthdayMonth)月</td>
                <td> @Html.EditorFor(model => model.BirthdayDay) 日</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.CheckBoxFor(model => model.IsPast)  设置卡片过期时间（到期则此卡自动失效）</td>
                <td>@Html.EditorFor(model => model.PastTime, new { htmlAttributes = new { @class = "easyui-datebox" } })</td>
                <td></td>
            </tr>
            <tr>
                <td>卡片状态：</td>
                <td>
                    @Html.EnumDropDownListFor(model => model.CardState, "请选择")
                </td>
                <td>卡片付费：</td>
                <td>@Html.EditorFor(model => model.Money)</td>
            </tr>
            <tr>
                <td colspan="4"><hr /></td>
            </tr>
            <tr>
                <td>积分数量：</td>
                <td>@Html.EditorFor(model => model.Point)</td>
                <td>@Html.CheckBoxFor(model => model.IsPointAuto)  积分是否可以自动转换成等级？</td>
                <td></td>
            </tr>
            <tr>
                <td>推荐人卡号：</td>
                <td>
                    @Html.EditorFor(model => model.RefererCard)
                    <a href="javascript:void(0)" id="btnSearch" class="easyui-linkbutton">查找</a>
                </td>
                <td>推荐人姓名：</td>
                <td>@Html.EditorFor(model => model.RefererName)</td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="#" id="btn_Submit" class="easyui-linkbutton">提交</a>
                </td>
                <td> </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.RefererID)
        @Html.HiddenFor(model => model.Id)
    </fieldset>

}


