@model IEnumerable<MemberPoint.Entity.ViewModel.ShopListViewModel>

@{
    ViewBag.Title = "店铺列表管理";
}

<h2>店铺列表管理</h2>

<p>
    @Html.ActionLink("添加店铺", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.S_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_ContactTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Remark)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_ContactTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Remark)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.S_ID }) |
                @Html.ActionLink("详情", "Details", new { id = item.S_ID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.S_ID })
            </td>
        </tr>
    }

</table>
